# Based on example file from .NET Learn site:
# https://github.com/dotnet/docs/blob/main/docs/fundamentals/code-analysis/code-style-rule-options.md#example-editorconfig-file

# Remove the line below if you want to inherit .editorconfig settings from higher directories
root = true

# C# files
[*.cs]

# Enforce all style rules for C# files
dotnet_analyzer_diagnostic.category-Style.severity = error

#### Core EditorConfig Options ####

# Indentation and spacing
indent_size = 4
indent_style = space
tab_width = 4

# New line preferences
end_of_line = crlf
insert_final_newline = true

#### Disabled rules ####

## No preference of block or expression body of method
dotnet_diagnostic.IDE0022.severity = none
## Keep unnecessary expression value
dotnet_diagnostic.IDE0058.severity = none

#### .NET Coding Conventions ####

# Prefer file scoped namespace declarations
csharp_style_namespace_declarations = file_scoped

# Organize usings
dotnet_separate_import_directive_groups = true
dotnet_sort_system_directives_first = true

